#registration .container #registration-row #registration-column #registration-box {

  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#registration .container #registration-row #registration-column #registration-box #registration-form  .text-center.text-info {

  padding-top: 10px;
  
}